@font-face {
	font-family: 'league_spartanregular';
	src: url(../../assets/fonts/leaguespartan-bold-webfont.woff2) format('woff2'),
	url(../../assets/fonts/leaguespartan-bold-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}